.license-warning-container{background-color:#d5e5ed;padding:0 15px 1px}.license-warning-container p{margin-bottom:10px}.license-warning-container .license-warning-title,.license-warning-container h3{font-size:14px!important;color:#6c6c6c!important;margin:0 0 5px!important;padding-top:10px}.license-warning-container .license-warning-subtitle,.license-warning-container h4{color:#000!important;font-size:12px;margin:0;font-weight:700;padding-top:0}.license-warning-container .license-warning-content,.license-warning-container p{font-size:11px;font-weight:500}.license-warning-container .license-disclaimer-link{padding-top:10px;padding-bottom:5px;font-size:11px}.license-warning-container .license-disclaimer-link .license-disclaimer-label{display:inline-block;padding-right:5px}
/*
     FILE ARCHIVED ON 12:59:12 Jul 19, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:31:15 Feb 10, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 190.222
  exclusion.robots: 0.169
  exclusion.robots.policy: 0.156
  cdx.remote: 0.103
  esindex: 0.013
  LoadShardBlock: 73.15 (3)
  PetaboxLoader3.datanode: 207.224 (5)
  CDXLines.iter: 16.136 (3)
  load_resource: 278.308 (2)
  PetaboxLoader3.resolve: 101.834 (2)
*/