.alex-reveal{cursor:pointer}.alex-reveal-icon{display:inline-block;position:relative;height:16px;width:16px}.alex-reveal-icon:before{width:inherit;position:absolute;top:0;bottom:0;left:0;content:url("data:image/svg+xml;charset=utf-8,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%230086de'%3E%3Ctitle%3Ereveal%3C/title%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M23 17.29h-7.22l-3.81 5.26-3.75-5.26H1V2.95h22v14.34z'/%3E%3C/svg%3E")}a:focus>.alex-reveal-icon:before,a:hover>.alex-reveal-icon:before{content:url("data:image/svg+xml;charset=utf-8,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%2323527c'%3E%3Ctitle%3Ereveal%3C/title%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M23 17.29h-7.22l-3.81 5.26-3.75-5.26H1V2.95h22v14.34z'/%3E%3C/svg%3E")}
/*
     FILE ARCHIVED ON 12:59:12 Jul 19, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 13:31:15 Feb 10, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 98.185
  exclusion.robots: 0.082
  exclusion.robots.policy: 0.074
  cdx.remote: 0.06
  esindex: 0.008
  LoadShardBlock: 54.253 (3)
  PetaboxLoader3.datanode: 93.704 (5)
  CDXLines.iter: 16.182 (3)
  load_resource: 195.48 (2)
  PetaboxLoader3.resolve: 88.192 (2)
*/